{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ product.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ product.seller }}</a>
        <small class="text-muted">{{ product.brand }}</small>
        <small class="text-muted">{{ product.category }}</small>
        <small class="text-muted">{{ product.name }}</small>
        <small class="text-muted">{{ product.get_status_display }}</small>
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'product-update' product.slug %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'product-delete' product.slug %}">Delete</a>
          </div>
      </div>
      <h2 class="article-title">{{ product.name }}</h2>
      <p class="article-content">quantity - {{ product.quantity }}</p>
    </div>
    <!-- FOR COMMENTS -->
    <br>
    <div>

  <div class="pt-5 mt-5">
    <h3 class="mb-5">{{ product.comments.count }} Comments</h3>
    <ul class="comment-list">
      {% for comment in product.comments.all %}
      <li class="comment">
        <div class="vcard bio">
          <img class="rounded-circle article-img" src="/media/user.jpg" alt="Image placeholder">
        </div>
        <div class="comment-body">
          <h3>{{ comment.name }}</h3>
          <div class="meta">{{ comment.date_posted }}</div>
          <p>{{ comment.body }}</p>
          <p><a href="#" class="reply">Reply</a></p>
        </div>
      </li>
      {% endfor %}
      <div class="comment-form-wrap pt-5">
      <h3 class="mb-5">Leave a comment</h3>
      <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" name="name" class="form-control" placeholder="Your Name" required_id="id_name">
        </div>
        <!-- <div class="form-group">
          <input type="text" class="form-control" placeholder="Your Email">
        </div> -->
        <!-- <div class="form-group">
          <input type="text" class="form-control" placeholder="Subject">
        </div> -->
        <div class="form-group">
          <textarea name="body" id="" cols="30" rows="7" class="form-control" placeholder="Message" required_id="id_body"></textarea>
        </div>
        <div class="form-group">
          <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
        </div>
      </form>
    </div>

  </div>
    
  </article>
  
{% endblock content %}